<html>

  <body >
    <!-- .hero-transparent{ -->

    <!--START ::CONTENT:: \\ COVER LETTER  -->
    <div class="" >


      <!--START ::LEFTIST_CONTENT:: \\ COVER LETTER  -->
      <div class="container_one"  style="padding-top: 10%; min-width:633px">

        <!--START ::DOCU_TITLE:: \\ COVER LETTER  -->
        <row>

               <div>
                 <h0 class="h0" id="cover_letter_thin">COVER LETTER</h0>
                 <div class="h88">  <hNot  class="hNot" style="margin-left:0px">Banji Oyewole: Chief Raster and Software Chef.</hNot></div>
              </div>

        </row>
        <!--END  ::DOCU_TITLE:: \\ COVER LETTER  -->



        <!--START ::WRITE_UP:: \\ COVER LETTER  -->
        <row>
          <div class="hNot" style="margin-top: 25px; ">

            <p>Hello,</p>

            <p>My name is Banji Oyewole. I am a designer/programmer who loves making cool things. I've worked on a couple short films and I've worked on many beautiful, fun and powerful apps across many platforms. Over time I've found I'm having the most fun when I'm making delightful user experiences, or really powerful tools. Software that interacts with hardware has always had a sweet spot in my heart. When it comes down to it I like making enjoyable experiences, whether that be fantastic UX, or making a film that people can really connect with. I'm glad you found you way to my website, which serves as an archive of sorts for you to enjoy. Maybe, one day, we will build something cool together.</p>

            <p><i>Welcome to BANJ.IO.</i></p>

            <img src="./assets/HERO6.png" width="200px">
            <p style="margin-top:10px;"><i><b style="margin-left:35px;  font-size:18px">BANJI OYEWOLE</b></i></p>

            <a href="#" onclick="return false;" onmousedown="autoScrollTo('content_top');">
            <img class="everyman_img_ctr" src="./assets/animated-arrow.gif" alt="(Scroll Down)">
          </a>

          </div>


      </row>
        <!--END ::WRITE_UP:: \\ COVER LETTER  -->

      </div>
      <!--END ::LEFTIST_CONTENT:: \\ COVER LETTER  -->

      <!-- <a href="/files/resume_w18_ts.pdf" style="text-decoration: none;padding-top:15px;padding-left:0px;padding-right:0px; padding-bottom:5px; margin-top:-80px; margin-right: 60px; float:right" data-upgraded=",MaterialButton"><p  class="mdl-button mdl-js-button" style="margin: -150 0 0 20px; color:white">VIEW RESUME</p></a> -->





    </div>
      <!--END ::CONTENT:: \\ COVER LETTER  -->

  </body>

</html>
