<html>

<body>

  <!--START ::CONTENT:: \\ EMBER  -->
<container>

    <!--START ::LEFTIST_CONTENT:: \\ EMBER  -->
    <div class="container_one">

      <!--START ::DOCU_TITLE:: \\ EMBER  -->
      <row>

          <img class="everyman_img" style="width:120px; height:60px" src="./assets/ember_1x.png"  alt="EMBER WORDMARK"></img>

             <div>
               <h0 class="h0">EMBER S5K/S2.5K</h0>
               <div class="h88">  <hSubtitle  class="hSubtitle" style="margin-left:8px;">"The Future of High Speed Cinematography."</hSubtitle></div>
            </div>

      </row>
      <!--END  ::DOCU_TITLE:: \\ EMBER  -->



      <!--START ::WRITE_UP:: \\ EMBER  -->
      <row>
      <div class="hNot" style="margin-top: 25px; "  >
        <p>Ember S5K and Ember S2.5K are the latest high speed cameras from Freefly Systems. Ember S5K Shoots 4K at 800FPS - twice as fast as Wave - and 5K at 600FPS. Ember S2.5K Shoots 2.5K at 2200FPS, and maxes out at 3500FPS at it's lowest resolution. With the knowledge gained from Wave we set out to build a platform for cameras going forward. Ember has been out since 2023, and we've kept delivering new features, from even higher FPS to actually making use of our expansion port to provide SDI video, Genlock and Timecode, as well as hot-swappable external media recording.</p>
        <!-- Wave Player also provided a tool called Amplify, which we used internally to identify vibration as we developed airframes, but has many applications across many industries. -->
        <p>For the Ember Project I took an enhanced role; overseeing the camera's support for remote control over Ethernet, Wifi and USB, and leading the app team in developing iOS/iPadOS and macOS apps and REST APIs leveraging that support. We used Ember's heterogeneous CPU architecture to essentially maintain the realtime code for continuous high-speed recording found in Wave Camera - but recording directly in ProRes - and also add add support for Wifi Preview and control in a way that never risks the relatime code's performance. </p>

        <a style="color:#FFF" href="https://www.youtube.com/watch?v=UAbJbmhq8rk"><b>Slow down with the Ember Sizzle Reel</b></a>
        <p></p>
        <p><a style="color:#FFF" href="https://www.youtube.com/watch?v=LQvaBNTlhZA"><b>Learn More about Ember</b></a></p>


      </div>


    </row>
      <!--END ::WRITE_UP:: \\ EMBER  -->


    </div>
    <!--END ::LEFTIST_CONTENT:: \\ EMBER  -->


    <!--START ::R_CONTENT:: \\ EMBER  -->

<!-- style="margin: 25px 0px;" min-width="50%"> -->

<!-- <img   class="mdl-shadow--16dp parallax--box container_one" src="./assets/ember/ember-screen-1.png" style="margin: 25px 0px;" min-width="50%"> -->

<img   class="parallax--box container_one" src="./assets/ember/ember-screenshot.png" style="margin: 25px 0px;" min-width="50%">

    <!-- <div class="video_box ">
      <video  autoplay=""  controls  class="mdl-shadow--16dp parallax--box" style="margin: 25px 0px;" width="400" height="710">
        <source src="/material_flashlight/mfx_hero.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div> -->



    <!--END ::R_CONTENT:: \\ EMBER  -->

</container>
    <!--END ::CONTENT:: \\ EMBER  -->



</body>

</html>
