<html>

  <!-- <body> -->

  <span style="background-color:#FFF2; align-items:center; height:20vh; ">
      <!-- <div> -->
        <div style="align:center;/* height:10%; */margin: auto auto;background-color:#FFF2; ">

          <a class="hNot" style="color:#FFF" href="https://henrywoody.com/"><b>Henry Woody</b></a>
          <a style="color:#FFF">•</a>
          <a class="hNot" style="color:#FFF" href="https://henrywurtz.com/"><b>Henry Wurtz</b></a>
          <a style="color:#FFF">•</a>
          <a class="hNot" style="color:#FFF" href="https://verychill.biz/"><b>Jesse Jenks</b></a>
          <a style="color:#FFF">•</a>
          <a class="hNot" style="color:#FFF" href="https://chilij.com/"><b>Chili Johnson</b></a>
          <a style="color:#FFF">•</a>
          <a class="hNot" style="color:#FFF" href="https://ethan-russell.com/"><b>Ethan Russell</b></a>

        </div>
      <!-- </div> -->
    </span>

  <!-- </body> -->

</html>
