<html>

<body>

  <!--START ::CONTENT:: \\ WAVE PLAYER  -->
<container>

    <!--START ::LEFTIST_CONTENT:: \\ WAVE PLAYER  -->
    <div class="container_one">

      <!--START ::DOCU_TITLE:: \\ WAVE PLAYER  -->
      <row>

          <img class="everyman_img" style="width:120px; height:60px" src="./assets/wave.png"  alt="FLYPOST UNIVERSALIS"></img>

             <div>
               <h0 class="h0">WAVE CAMERA</h0>
               <div class="h88">  <hNot  class="hNot" style="margin-left:8px">We made it because it didn't exist.</hNot></div>
            </div>

      </row>
      <!--END  ::DOCU_TITLE:: \\ WAVE PLAYER  -->



      <!--START ::WRITE_UP:: \\ WAVE PLAYER  -->
      <row>
      <div class="hNot" style="margin-top: 25px; "  >
        <p>Wave is the first Camera from Freefly Systems. Wave is a novel approach to high speed video. Most other implementations of High-speed recording capture a lot of data into RAM quickly and then stop to slowly move to permanent storage. The innovation of Wave was continuous high speed recording direct to permanent storage. And It's relativley small, so because of it's size and it's recording flexibility people put this camera in places cameras had never been before, and captured things we'd never seen before as well.</p>
        <!-- Wave Player also provided a tool called Amplify, which we used internally to identify vibration as we developed airframes, but has many applications across many industries. -->
        <p>My role on the Wave camera project was in the macOS and iPadOS app, Wave Player, that re-encodes Wave's Codec to common video codecs like H.264, HEVC and ProRes. The application also supported setting up and saving custom color profiles, and queued export so users could quickly batch export clips with workable color into their editor of choice. Wave Player leverages Apple's Metal shader language to convert from Wave's codec to viewable and exportable frames in realtime. </p>

        <a style="color:#FFF" href="https://www.youtube.com/watch?v=KmUa0HdJOJo"><b>Learn More about Wave Player</b></a>
        <p></p>
        <p><a style="color:#FFF" href="https://www.youtube.com/watch?v=KmUa0HdJOJo"><b>Learn More about Wave</b></a></p>


      </div>


    </row>
      <!--END ::WRITE_UP:: \\ WAVE PLAYER  -->


    </div>
    <!--END ::LEFTIST_CONTENT:: \\ WAVE PLAYER  -->


    <!--START ::R_CONTENT:: \\ WAVE PLAYER  -->

<!-- style="margin: 25px 0px;" min-width="50%"> -->

<img   class="parallax--box container_one" src="./assets/wave/wave_screenshot_with_thumbnails.png" style="margin: 25px 0px;" min-width="50%">

    <!-- <div class="video_box ">
      <video  autoplay=""  controls  class="mdl-shadow--16dp parallax--box" style="margin: 25px 0px;" width="400" height="710">
        <source src="/material_flashlight/mfx_hero.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div> -->



    <!--END ::R_CONTENT:: \\ WAVE PLAYER  -->

</container>
    <!--END ::CONTENT:: \\ WAVE PLAYER  -->



</body>

</html>
